:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #322e2e;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0px;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh; /*Set Height of Popup Window, Original Value was min-height: 100vh */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;

}

h2{
  color:rgb(0, 0, 0);
  font-size: 1.2em;
}

.banner{
  margin: 0px;
  padding: 0px;
  text-align: center;
  background: #000000;
  color: white;
  font-size: 10px;
  width: 100%;
}

.car-basics{
  font-size: 12px; 
}

.display-container{
  display: flex;
  flex-direction: left;
}
.car-price{
  font-size: 16px;
}

.car-mileage{
  font-size: 10px;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    background-color: #ffffff;
  }
  a {
    font-weight: 500;
    color: #000000;
    text-decoration: inherit;
    display: block;
  }
  a:hover {
    color: #000000;
  } 
  table{
    width: 170px;
    border-radius: 8px;
    table-layout: fixed;
  }
  .info-display{
    background-color: rgb(211, 200, 200);
    border-radius: 8px;
    text-align: left;
    border-left: none;
    border-right: none;
    width: 140px;
    height: 110px;
    overflow: hidden;
  }
  .info-display:hover{
    background-color: #2d2d2d00;
  }
  img{
    border-radius: 8px;
  }
}